.project-title {
  font-size: 2rem;
}

.project-info-sect {
  padding: 1.5rem 0;

  h3 {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Cagliostro', sans-serif;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.link-tip {
  font-size: 0.8rem;
}

.test-login-container {
  text-align: center;
  margin-top: 20px;
}

.test-login-details {
  color: navy;
}

.project-improvs > li:not(:last-child) {
  margin-bottom: 10px;
}