// Breakpoints.
$mblBreakPt: 768px;
$navLgBreakPt: 992px;
$tbltBreakPt: 1023px;

// Cursors.
$myAutoCrsr: url("../images/cursors/auto.svg"), auto;
$myPointerCrsr: url("../images/cursors/pointer.svg"), pointer;