@use "layoutLines";
@use "nav";
@use "projects";
@use "background";



// General
* {
  transition: opacity 0.5s;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 58px;
  overflow-y: scroll;
}

.transparent {
  opacity: 0;
}

.fade-in-load {
  @extend .transparent;
}
  
.page-content {
  $fadeOffset: 50px;
  $bgColor: rgba(255,255,255,0.5);
  $shadowOffset: 170px;

  position: relative;
  width: 40%;
  margin: 200px auto auto auto;
  background-color: $bgColor;
  box-shadow: 0 0 $shadowOffset $shadowOffset $bgColor;
}

.page-heading {
  font-weight: 700;
}


// Media queries.
@media only screen and (max-width: 1023px) {
  .page-content {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .page-content {
    width: 80%;
  }
}