body {
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  overflow-x: auto;
}

thead, tbody, tr {
  display: contents;
}

thead td {
  color: white;
  background-color: black;
}

td {
  padding: 5px 50px 5px 10px;
}

tr:nth-child(even) td {
  background: rgb(95%, 95%, 95%);
}
